<nav class="bg-violet-500 text-white p-5 flex justify-between items-center">
    <div class="font-LuckiestGuy text-2xl">FIORELA</div>
    <div class="flex gap-3">
        <button  [routerLink]="'login'" class="bg-black text-white hover:bg-red-600 py-2 px-3 rounded-md">Inicio</button>
        <button [routerLink]="'register'" class="bg-black text-white hover:bg-red-600 py-2 px-3 rounded-md">Información</button>
    </div>
    <button class="bg-slate-700 text-white hover:bg-zinc-50 hover:text-black py-2 px-3 rounded-md">Registrate</button>
</nav>