/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arimo:wght@700&family=Arizonia&family=Artifika&family=Berkshire+Swash&family=Lobster&family=Luckiest+Guy&family=Manrope:wght@500&family=Oleo+Script&family=Poppins:wght@500&family=Roboto:wght@500&family=Tangerine:wght@700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
